

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Sim Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head> 
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Lets Simulate.</h1>
            <p>Personal Finance Forecasting Simulator</p> 
        </div> 
        
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Sim Tool</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Assumptions & Limitations</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
        </div>
    </nav>
    <!-- Navbar -->
    
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <form method='POST'> 
                <div class="form-group">
                    <label for="currentAge">Current Age</label>
                    <input type="text" class="form-control" name="currentAge" placeholder="Enter current age">
                    <small id="currentAgeHelp" class="form-text text-muted">This is the beginning date of the simulation.</small>
                </div>
                <div class="form-group">
                    <label for="retireAge">Desired Retirement Age</label>
                    <input type="text" class="form-control" name="retireAge" placeholder="Enter desired retirement age">
                    <small id="retireAgeHelp" class="form-text text-muted">This is the age you expect to retire.</small>
                </div>
                <div class="form-group">
                    <label for="currentIncome">Current Income</label>
                    <input type="text" class="form-control" name="currentIncome" placeholder="Enter current income">
                    <small id="currentIncomeHelp" class="form-text text-muted">Your current gross (before tax) annual income.</small>
                </div>
                <div class="form-group">
                    <label for="retireIncome">Desired Retirement Income</label>
                    <input type="text" class="form-control" name="retireIncome" placeholder="Enter desired retirement income">
                    <small id="retireIncomeHelp" class="form-text text-muted">This is how much you expect to require per year upon retirement.</small>
                </div>
                <div class="form-group">
                    <label for="retireEndAge">Likely Retirement End Age</label>
                    <input type="text" class="form-control" name="retireEndAge" placeholder="Enter likely retirement end age">
                    <small id="retireEndAgeHelp" class="form-text text-muted">Expected end of life (Aus ave - Male: 80 Female: 85).</small>
                </div>


                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-secondary">Simulate</button>
            </form>



        </div>
    </div>

    </body>