<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Taking User Input (jquery/ajax test)</h1>
        <p>User data will be stored as a sessiondata and used for simulation inputs</p>
        <h3>Post Data Section</h3>
        <form id='inputForm' method='post'>
            First Name:<br>
            <input type="text" name="FirstName" id="FirstName" value="First">
            <br>
            Last Name:<br>
            <input type="text" name="LastName" id="LastName" value="Last">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        
        
        <h1>Hello {{ name }}</h1>
        <p>{{ data }}</p>
        <button type="button" onclick="showDateTime('demo')">Click me!</button>
        <p id="demo"></p>
        <button type="button" onclick="consoleLogger('hello console logger')">Click me!</button>
        <br><br>
        <button type="button" onclick="setItemLS('labels', labels)">Add Label Data to LS</button>
        <button type="button" onclick="setItemLS('values', values)">Add Value Data to LS</button>
        <br><br>
        <button type="button" onclick="removeItemLS('labels')">Remove Label Data to LS</button>
        <button type="button" onclick="removeItemLS('values')">Remove Value Data to LS</button>
        <br><br>
        <h3>Accessing Local Storage Elements</h3>
        <button type="button" onclick="showLSData('localStorageData', 'values')">Retrieve LS Values</button>    <!-- showLSData('localStorageData', getItemLS(tempKey)) -->
        <p id="localStorageData"></p>
        <br><br>
        <canvas id="myChart"></canvas>

    </body>

    <script>

    var tempKey = '{{ name }}';
    var labels = '{{ data[0] }}';
    var values = '{{ data[1] }}';

    // LocalStorage
    // Saved in JSON string format

    function setItemLS(key, value) {
        localStorage.setItem(key, value);
    };

    function removeItemLS(key) {
        localStorage.removeItem(key);
    };

    function getItemLS(key) {
        localStorage.getItem(key);
    };

    // SessionStorage
    // Saved in JSON string format
    function setItemSS(key, value) {
        sessionStorage.setItem(key, value);
    };

    function removeItemSS(key) {
        sessionStorage.removeItem(key);
    };

    function getItemSS(key) {
        sessionStorage.getItem(key);
    };

    // Logging Functionality
    function consoleLogger(msg) {
        console.log(msg);
    };

    // DOM Manipulation
    function showDateTime(id) {
        document.getElementById(id).innerHTML = Date();
    };
    
    function showLSData(id, key) {
        var data = localStorage.getItem(key);
        document.getElementById(id).innerHTML = data;
    };

    // AJAX for User Input
    $('#inputForm').submit(function(event) {
        
        /* Stop form from submitting normally */
        event.preventDefault();

        /* get form values */
        var firstName = $("#FirstName").val();
        var lastName = $('#LastName').val();
        alert(firstName);
        alert(lastName);

        // var form = document.getElementById('inputForm'),
        //     firstName = form.find('input[name="FirstName]"').val(),
        //     lastName = form.find('input[name="LastName]"').val();
        
        /* send the data using post */
        var posting = $.post('/postmethod', {
            javascript_data: JSON.stringify([firstName, lastName]) /* convert array to string to send across server */ 
        });

        posting.done(function(data) {
            alert('success');
        });
    });

    </script>


    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var labels = '{{ data[0] }}';
    // var values = '{{ data[1] }}';
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: JSON.parse(localStorage.getItem('values'))
            }]
        },

        // Configuration options go here
        options: {}
    });
    </script>

</html>