<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Let's Simulate.</h1>
        <h3>Simulation Input Data</h3>
        <p>User data will be stored as a sessiondata and used for simulation inputs</p>

        <form id='inputForm' method='post'>
            Current Age:<br>
            <input type="text" name="currentAge" id="currentAge" placeholder="Enter Current Age">
            <br>
            Retirement Age:<br>
            <input type="text" name="retireAge" id="retireAge" placeholder="Enter Retirement Age">
            <br>
            Annual Income:<br>
            <input type="text" name="incomeAmt" id="incomeAmt" placeholder="Enter Income">
            <br><br>
            <input type="submit" value="Submit">
            <br>
            <h1 id='newData'></h1>
        </form>
        
        <!-- ...Development... -->
        Labels:<br>
        <p id='labels'></p>
        Values:<br>
        <p id='values'></p>
        <button type="button" onclick="showDateTime('demo')">Click me!</button>
        <p id="demo"></p>
        <button type="button" onclick="consoleLogger('hello console logger')">Click me for console log!</button>
        <br><br>
        <button type="button" onclick="setItemLS('labels', labels)">Add Label Data to LS</button>
        <button type="button" onclick="setItemLS('values', values)">Add Value Data to LS</button>
        <br><br>
        <button type="button" onclick="removeItemLS('labels')">Remove Label Data to LS</button>
        <button type="button" onclick="removeItemLS('values')">Remove Value Data to LS</button>
        <br><br>
        <h3>Accessing Local Storage Elements</h3>
        <button type="button" onclick="showLSData('localStorageData', 'values')">Retrieve LS Values</button>    <!-- showLSData('localStorageData', getItemLS(tempKey)) -->
        <p id="localStorageData"></p>
        <br><br>
        <canvas id="myChart"></canvas>

    </body>

    <!-- AJAX for User Input -->
    <script>
        $('#inputForm').submit(function(event) {
            /* Stop form from submitting normally */
            event.preventDefault();
    
            /* get form values */
            var currentAge = $("#currentAge").val();
            var retireAge = $('#retireAge').val();
            var incomeAmt = $('#incomeAmt').val();
    
            /* send the data using post */
            var posting = $.post('/postmethod', {
                javascript_data: JSON.stringify({'current_age': currentAge, 'retirement_age': retireAge, 'income_amount': incomeAmt}) /* convert array to string to send across server */ 
            });
    
            posting.done(function(data) {
                alert('success');
            });
        });
        
    </script>

    <script>
    
    try {
        var labels = '{{ data[0] }}';
    }
    catch(err) {
        var labels = 'Labels not loaded'
    }
    try {
        var values = '{{ data[1] }}';
    }
    catch(err) {
        var values = 'Labels not loaded'
    }
    var newData = '{{ new_data }}'

    document.getElementById('labels').innerHTML = labels;
    document.getElementById('values').innerHTML = values;
    document.getElementById('newData').innerHTML = newData;
    
    </script>



    <!-- Other Functions -->
    <script>

    var tempKey = '{{ name }}';
    var labels = '{{ data[0] }}';
    var values = '{{ data[1] }}';

    // LocalStorage
    // Saved in JSON string format

    function setItemLS(key, value) {
        localStorage.setItem(key, value);
    };

    function removeItemLS(key) {
        localStorage.removeItem(key);
    };

    function getItemLS(key) {
        localStorage.getItem(key);
    };

    // SessionStorage
    // Saved in JSON string format
    function setItemSS(key, value) {
        sessionStorage.setItem(key, value);
    };

    function removeItemSS(key) {
        sessionStorage.removeItem(key);
    };

    function getItemSS(key) {
        sessionStorage.getItem(key);
    };

    // Logging Functionality
    function consoleLogger(msg) {
        console.log(msg);
    };

    // DOM Manipulation
    function showDateTime(id) {
        document.getElementById(id).innerHTML = Date();
    };
    
    function showLSData(id, key) {
        var data = localStorage.getItem(key);
        document.getElementById(id).innerHTML = data;
    };
    </script>
    

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var labels = '{{ data[0] }}';
    // var values = '{{ data[1] }}';
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September', 'October'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: JSON.parse(localStorage.getItem('values'))
            }]
        },

        // Configuration options go here
        options: {}
    });
    </script>

</html>